<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->

            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center ">
                    <section style="background-color: cornsilk;">
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>