<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->

            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center " style="background: rgba(204, 202, 177, 0.562);">
                    <section>
                        <div class="container">
                            <h1>The Right Ingredients for the Right Food</h1>
                            <p style="font-weight: 800;">Homechef is a nourishment conveyance stage which serves sustenance made by famous gourmet experts to your doorstep.

Homechef has a changing menu consistently with delectable nourishment made crisp by cooks working in the cordiality business for a considerable length of time.</p>
                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>