<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->

            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center ">
                    <section>
                        <div class="row">
                            <div class="container" style="background-color: rgba(255, 248, 220, 0.596);">
                                <div class="col-md-12 text-center p-5">
                                    <h1 class="text-center">Order Placed Successfully</h1>
                                    <a href="/orders" class="btn btn-primary">view Order</a>

                                </div>

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>