<body>
    <!-- mian-content -->
    <div class="main-content" id="home">
        <div class="layer">
            <!-- header -->

            <!-- //header -->
            <div class="container">
                <!-- /banner -->
                <div class="banner-info-w3layouts text-center ">
                    <h1 class="font-italic" style="color: rgb(255, 136, 0);">Our Bakers</h1>
                    <section>
                        <div class="container mt-5">
                            <div class="row p-5">

                                {{#each vendors}}
                                <div class="col-md-3 p-3">
                                    <div class="card" style="width: 15rem; height:21rem">
                                        <img class="card-img-top" src="/product-images/{{this._id}}.jpg"
                                            alt="Card image cap" style="height: 10rem;">

                                        <div class="card-body">
                                            <h5 class="card-title">{{this.ShopName}}</h5>
                                            

                                           <a href="/vendor-products">view-products</a>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>